.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  margin: 20px 0px;
}

.label {
  font-size: large;
  font-weight: bold;
  font-size: medium;
}

.select {
  padding: 10px;
  border: 2px solid var(--gray);
  background-color: var(--foreground);
  border-radius: 10px;
}
