.container {
  display: flex;
  background-color: var(--background);
  min-height: 100vh;
  background-image: url('../../../public/background.png');
  background-size: cover;

  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 70vh;
  padding: 30px;
  gap: 20px;
  background-color: var(--foreground);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 800px) {
  .card {
    width: 60%;
  }
}
